name: Send Email Notification

on:
  schedule:
    - cron: '30 9 * * 5' 
  workflow_dispatch: # Allows manual triggering

jobs:
  send-email-notification:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          ref: main  # Ensure we get the latest commit with updated CSV
          persist-credentials: false

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.3.3'
          use-public-rspm: true

      - name: Install R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2

      - name: Send email notification
        env:
          SMTP_SERVER: ${{ secrets.SMTP_SERVER }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
          SMTP_USERNAME: ${{ secrets.SMTP_USERNAME }}
          SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
          EMAIL_FROM: ${{ secrets.EMAIL_FROM }}
          EMAIL_TO: ${{ secrets.EMAIL_TO }}
          EMAIL_BCC: ${{ secrets.EMAIL_BCC }}
        run: Rscript send_email.R

      - name: Commit updated emailed papers list
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add emailed_papers.csv
          git commit -m "Update emailed papers list after sending notification" || echo "No changes to commit"
          git push || echo "No changes to push"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.PAT_GITHUB }}
